<div class="list">

  <a class="item item-icon-left" href="#confirmar">
    <i class="icon ion-email"></i>
    Check E-mail
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-chatbubble-working"></i>
    Call Ma
    <i class="icon ion-ios-telephone-outline"></i>
  </a>

  <a class="item item-icon-left" href="#chat">
    <i class="icon ion-person-stalker"></i>
    Friends
    <span class="badge badge-assertive">4</span>
  </a>
<div class="list">

  <div class="item item-divider">
    Outros
  </div>

<ul class="list vermelho">

  <li class="item item-toggle">
     <i class="ion-chatbox-working"></i>
     Notificações
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

  <li class="item item-toggle">
     <i class="ion-ios-eye olho"></i>
     Modo Daltônico
     <label class="toggle toggle-calm">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  
    <li class="item item-toggle sons">
    <i class="ion-ios-musical-notes"></i>
        Sons
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

</ul>

</div>