<div class="list">

  <div class="item item-divider">
   Eletronicos
  </div>

  <a class="item" href="http://www.bestbuy.com/?intl=nosplash">
   Best-buy
  </a>
  <a class="item" href="https://www.walmart.com.br/?utm_source=google-5&utm_medium=sem&utm_campaign=&kwid=&s_kwcid=sem|google||wallmart">
    walmart
  </a>

   <div class="item item-divider">
   Roupas
  </div>

  <a class="item" href="https://www.hollisterco.com/shop/wd">
   hollister
  </a>
  <a class="item" href="http://www.calvinklein.us/en">
   calvin klein 
  </a>

  





</div>