<ion-view view-title="HTML-M1L-GR4U">
    <ion-content>
         <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">E-mail</span>
                <input type="text" placeholder="E-mail" ng-model="email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">senha</span>
                <input type="password" placeholder=" senha " ng-model="senha">
            </label>

        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="fazerLogin(email, senha)">
                ENTRAR
            </button>
            <a class="button button-block button-outline button-calm" href="#/cadastro">
                Cadastre-se
            </a>
        </div>
    </ion-view> 
</ion-content>
