.bandeira-wrapper {
    position: relative;
}

.bandeira {
    position: absolute;
    top: 50%;
    right: 25px;

    width: 20px;
}

.barra-superior{
    position: static;
}
.barra-top-chat{
    position: static;
}

.olho{
    font-size:
    20px
    ;
}

.sons{
    font-size:
    20px
    ;
}
.loginnome{
    position: static;
}

